@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    width: 100%;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #4CAF50;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

.questionContainer {
    max-width: 600px;
    margin: 0 auto 20px auto;
}

.question {
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
}

.timer {
    position: fixed; /* Зафиксированное положение */
    top: 10px;       /* Отступ сверху */
    right: 10px;     /* Отступ справа */
    font-size: 20px; /* Размер шрифта, можно настроить по вашему усмотрению */
    background: rgba(0, 0, 0, 0.7); /* Черный фон с небольшой прозрачностью */
    color: #fff;     /* Белый цвет текста */
    padding: 10px;   /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
}


.lockButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.lockButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.startForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.startInput {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.startButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

.startButton:hover {
    background-color: #45a049;
}

.questionsContainer {
    align-self: flex-start;
    width: 100%;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
